:root {
    --orange: #FF9900;
    --black: rgba(51, 51, 51, 1);
    --white: rgba(255, 255, 255, 1);
    --orange: rgba(255, 153, 0, 1);
    --grey: rgba(65, 65, 65, 1);
  }

body {
    /* overflow: hidden; */
    background: rgb(246,246,246);
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);

}

  .container{
    width: 1770px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--white);
}

h2 {
    font-family: "Montserrat";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    color: var(--black);
    margin: 0;
}

h3, .h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

p {
    padding: 0;
    margin: 0;
}

.btn {
    display: inline-block;
    border: 3px solid var(--orange);
    box-sizing: border-box;
    text-align: center;
 }

.btn-orange {
    background-color: var(--orange);
}

*:focus {
    outline: none; 
}
input {
    box-sizing: border-box;
}

/* Хедер */
.header {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background: var(--white);
}

.img-logo {
    margin-top: 11px;
}

.header-menu {
    display: flex;
    height: 100px;
    align-items: center;
    background: var(--white);
}

.header-nav-menu {
    display: flex;
    padding-top: 6px;
}

.desktop-nav-item a {
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--black);
    letter-spacing: 0.1px;
}
.desktop-nav-item a:hover {
    border-bottom: 2px solid var(--orange);
}
.desktop-nav-item a:focus  {
    border-bottom: 2px solid var(--orange);
}

.header-nav {
    display: flex;
}

.desk-nav-search {
    margin-top: 19px;
    margin-right: 11px;
    cursor: pointer;
}

.desk-nav-search:hover svg rect, .desk-nav-search:focus svg rect{
    fill: var(--orange);
}
.desk-nav-search:hover svg circle, .desk-nav-search:focus svg circle{
    stroke: var(--orange);
}

.desktop-nav-item:not(:last-child) {
    margin-right: 85px;
}
.desktop-nav-item:last-child {
    margin-right: 71px;
}

.header-logo {
    flex: 1 1 30%;
}

.mobile-menu {
    display: none;
}

.header-nav {
    display: flex;
    padding-top: 3px;
}
.burger {
    display: none;
}
.header-slider {
    width: 1770px;
    height: 620px;
    margin-top: 1px;
    margin-bottom: 100px;
    box-sizing: border-box;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.slide_1 {
    background-image: url(/img/balc.jpg);
    padding-left: 78px;
    box-sizing: border-box;
}
.slide_2 {
    background-image: url(/img/slide2.png);
    padding-left: 78px;
    box-sizing: border-box;
}
.slide_3 {
    background-image: url(/img/slide3.png);
    padding-left: 78px;
    box-sizing: border-box;
}
.slider-conten-h1 {
    padding-top: 103px;
    width: 60%;
    letter-spacing: 0.27px;
}

.slider-content-p {
    margin-top: 20px;    
    width: 50%;
    font-family: 'Montserrat';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.29px;
    color: var(--white);
}

.header-slider-button {
    margin-top: 95.55px;
    margin-left: 2px;
    padding: 22.86px 37px;
    font-family: 'Montserrat';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: var(--white);
    text-align: center;
}

.swiper-pagination>.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    box-sizing: border-box;
}
.swiper-pagination>.swiper-pagination-bullet:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}
.swiper-pagination>.swiper-pagination-bullet-active {
    background-color:  #FFFFFF;
    
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}


.header-slider-button:hover, .header-slider-button:focus {
    border: 3px solid transparent;
    background-color: rgba(255, 153, 0, 0.6);
}
.swiper-container>.swiper-button-prev {
    color: rgba(102, 102, 102, 1);
}
.swiper-container>.swiper-button-next {
    color: rgba(102, 102, 102, 1);
}
.swiper-container>.swiper-button-next:hover {
    color: rgba(255, 153, 0, 1);
}
.swiper-container>.swiper-button-prev:hover {
    color: rgba(255, 153, 0, 1);
}
.swiper-container>.swiper-button-next:focus {
    color: rgba(255, 153, 0, 1);
}
.swiper-container>.swiper-button-prev:focus {
    color: rgba(255, 153, 0, 1);
}
/* О нас */

.about {
    margin-bottom: 100px;
}

.about-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text>h2 {
    padding-top: 1px;
    padding-left: 2px;
    margin-bottom: 21px;
}

.text-ico {
    position: relative;
    width: 16px;
    height: 18px;
    padding-left: 26px;
}

.text-ico::before {
    content: "i";
    text-align: center;
    line-height: 16px;
    font-size: 13px;
    color: white;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 6px;
    background-color: var(--orange);
    border-radius: 50%;
    background-size: 10px 10px;
}

.about-block-img {
    position: relative;
    width: 870px;
    height: 622px;
    background: url(/img/Rectangle\ 2.jpg);
    background-size: cover;
}
.about-block-img::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 176px;
    bottom: 0;
}

.about-img-text {
    position: absolute;
    bottom: 41px;
    left: 55px;
    width: 58%;
    z-index: 3;
    color: white;
    font-weight: 700;
    line-height: 32px;
}
.about-img-btn {
    position: absolute;
    z-index: 3;
    bottom: 58px;
    right: 68px;
    padding: 11px 36px;
    font-weight: 700;
    color: white;
}
.about-img-btn:hover, .about-img-btn:focus {
    background-color: var(--orange);
}
.about-item-block {
    box-sizing: border-box;
    width: 870px;
    height: 295px;
    border: 1px solid #CACACA;
    
}

.about-block-adv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-p {
    width: 69.9%;
    margin-bottom: 43px;
}


.adv-1 {
    background: url(/img/Group\ 25.svg);
    background-repeat: no-repeat;
    background-position: top 72px left 62px;
}

.adv-2 {
    background: url(/img/Group\ 24.svg);
    background-repeat: no-repeat;
    background-position: top 54px left 62px;
}

.adv-1-text {
    padding-left: 299px;
    padding-top: 67px;
}

.adv-1-p, .adv-2-p {
    margin: 0;
    width: 74%;
    margin-top: 3px;

}

.adv-2-text {
    padding-left: 299px;
    padding-top: 65px;
}

/* Как мы работаем */

.how-we-work {
    padding-bottom: 90px;
}

/* .how-we-work-block {
    display: flex;
} */

/* .how-left {
    padding-left: 2px;
    width: 51%;
} */

/* .how-left-h2 {
    margin-left: -3px;
    margin-top: 1px;
} */

/* .how-steps {
    display: flex;
    margin: 44px 0 39px 0px;
} */
.how-steps {
    display: flex;
}

ul.how-steps {
    padding: 28px 0 24px;
}

.how-steps-item:not(:last-child) {
    margin-right: 89px;
}

.how-steps-item {
    font-size: 18px;
    cursor: pointer;
}
.how-steps-item:hover, .how-steps-item:focus {
    color: var(--orange);
}


.how-left-h3 {
    margin-bottom: 4px;
}
.how-text {
    width: 51%; 
    padding-left: 2px;
}
.how-left-p {
    width: 85%;
    padding-bottom: 60px;
}

.how-orange-btn {
    position: relative;
    margin-right: 26px;
    background-color: var(--orange);
    
}
.how-orange-btn:focus, .how-orange-btn:hover {
    background-color:rgba(255, 153, 0, 0.6);
    border: transparent;
}

.how-transparent-btn {
    position: relative;
    padding: 10px 35px;
    border: 1px solid var(--black);
}

.transparent-btn-link {
    color: var(--black);    
}

.how-transparent-btn:hover, .how-transparent-btn:focus {
    background-color: var(--black);
    color: white;
}
.how-transparent-btn:hover .transparent-btn-link, .how-transparent-btn:focus .transparent-btn-link {
    color: white;
}

.orange-btn-link {
    padding: 11px 36px;
    color: var(--white);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0em;
    border: none;
}

.how-right {
    display: block;
    background: url(/img/Rectangle18.jpg) no-repeat;
    background-size: cover;
    height: 465px;
    width: 870px;
    margin: 11px -2px 0px 0px;
    float: right;
}


/* FAQ */
.faq {
    padding-bottom: 83px;
}
.ui-widget {
    font-family: "Montserrat";
    font-size: 24px;
}
.ui-widget-content {
    font-family: "Montserrat";
    font-size: 16px;
}
.ui-helper-reset {
    line-height: unset;
}
.ui-state-default {
    position: relative;
    border: unset;
    border-bottom: 1px solid rgba(202, 202, 202, 1);    
    line-height: 33px;
    cursor: pointer;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    background: unset;
}
.ui-state-default:first-child {
    border-top: 1px solid rgba(202, 202, 202, 1);
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    color: black;
    font-weight: 700;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background: none;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    background: #D2D2D2 url(/img/+2.svg) no-repeat center;
}
.ui-accordion .ui-accordion-header {
    padding: 40px 0;
    cursor: pointer;
}
.ui-accordion-header-active {
    background-color: transparent;
}
.ui-icon, .ui-widget-content .ui-icon {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    background: rgb(236,236,236) url(/img/+.svg) no-repeat center;
    cursor: pointer;
    border-radius: 50%;
    top: 33px;
    right: 0;
}
.accordion_1p {
    padding-bottom: 20px;
}

.faq-h2 {
    margin-bottom: 39px;
    margin-left: 2px;
}

.item-1 {
    border-top: 1px solid rgba(202, 202, 202, 1);    
}
.slash {
    color: rgb(202,202,202);
}
/* Футер */

.footer-container {
    max-width: 1920px;
    height: 630px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(34, 34, 34, 1);
    background-position: center center;
}

.footer {
    display: flex;
    flex-direction: row;
}

.footer-1column {
    margin-top: 48px;
    margin-right: 346px;
}

.footer-nav {
    padding: 0;
    margin: 0;
}
.footer-nav-ul {
    padding: 0;
    margin: 3px 0 104px 0;
}
.footer-nav-item {
    padding-bottom: 3px;
}
.footer-nav-item>a {
    color: rgba(202, 202, 202, 1);
    font-size: 18px;
    font-weight: 600;
}
.footer-social {
    display: flex;
}
.footer-social>a {
    margin: 25px;
}
.footer-fb {
    background: url(/img/fb.svg);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}
.footer-vk {
    background: url(/img/vk.png);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}
.footer-inst {
    background: url(/img/instagram.svg);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}
.footer-form {
    display: flex;
    flex-direction: column;
    margin-right: 236px;
    margin-top: 58px;
}
.footer-h2 {
    padding-bottom: 23px;
    margin-left: -3px;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    color: rgba(202, 202, 202, 1);
    }
input {
    background-color: var(--grey);
    border: none;
}
input:not(:last-child) {
    margin-bottom: 25px;
}
input:last-child {
    margin-bottom: 31px;
}
.input-e-mail, .input-text {
    height: 60px;
    width: 570px;
    padding-left: 24px;
}
.footer-textarea {
    box-sizing: border-box;
    width: 570px;
    height: 150px;
    padding-left: 24px;
    padding-top: 21px;
    margin-bottom: 31px;
    background-color: var(--grey);
    resize: none;
    border: none;
}
.form-btn {
    box-sizing: border-box;
    height: 60px;
    width: 269px;
    margin-right: 18px;
    color: white;
    font-weight: 700;
    background-color: var(--orange);
}

.form-submit {
    display: flex;
    justify-content: space-between;
}

.footer-comment {
    margin-top: 126px;
    padding-top: 1px;
    max-width: 363px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(202, 202, 202, 1);
} 

.option {
    display: block;
    margin-bottom: 15px;
  }
  
  .check {
    align-self: center;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 2px;
    color: rgba(202, 202, 202, 1);
  }
  
  .check__input {
    position: absolute;
    appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
  }
  
  .check__box {
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
    height: 14px;
    width: 14px;
    border: 1px solid #CACACA;
  }
  
  /* Checked */
  
  .check__input:checked + .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94976 3.08233L4.00002 8.03208L1.17159 5.20365' stroke='%2397EE3F' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

@media (max-width: 1820px) {
    .container{
        width: 1400px;
    }
    .header-slider-button {
        margin-top: 25px;
    }
    .slider-conten-h1 {
        padding-top: 60px;
    }
    .about-block-img {
        width: 760px;
    }
    .about-item-block {
        width: 625px;
    }
    .adv-1, .adv-2 {
        background-position: top 54px left 35px;
    }
    .adv-1-text, .adv-2-text {
        padding-top: 25px;
        padding-left: 275px;
        padding-right: 15px;
        
    }
    .adv-1-p, .adv-2-p {
        width: 100%;
    }
    .footer-1column, .footer-form {
        margin-right: 120px;
    }
    

}
@media (max-width: 1439px) {
    .container{
        width: 1100px;
    }
    .header-logo {
        flex: 1 1 15%;
    }
    .slider-conten-h1 {
        width: 80%;
    }
    .adv-1, .adv-2 {
        width: 760px;
        margin-top: 25px;
    }
    .about-p {
        width: 100%;
    }
    .about-block-img {
        width: 100%;
    }
    .about-item-block {
        margin-top: 50px;
        width: 100%;
        padding-top: 50px;
    }
    .how-left {
        flex: 1 1 50%;
    }
    .how-left-p {
        padding-right: 48px;
        padding-bottom: 30px;
        width: 80%;
    }
    .how-right {
        background: url(/img/mobbile-work.jpg) no-repeat;
        background-size: cover;
        height: 689px;
        width: 437px;
     }
    .footer-comment {
        display: none;
    }
    .footer-1column {
        margin-right: 285px;
    }

}
@media (max-width: 1199px) {
   
    .container{
        width: 924px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    h1 {
        font-size: 60px;
    }
    h3, .h3 {
        font-size: 20px;
    }

    /* Хедер */
/* 
    .header-nav-list-desk {

    } */
    .header-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 15px 0 10px 15px;
        background-color: white;
        transform: translateY(-150%);
        z-index: 10;
        
    }
    .header-nav.is-active {
        transform: none;
    }
    .header-logo {
        flex: none;
        margin: 0 auto;
        order: 2;
    }
    .burger {    
        margin: 0;
        padding: 10px 0 0;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 30px;
        background: transparent;
        border: none;
    }
 
    .burger-line {
      width: 30px;
      height: 3px;
      margin: 3px 0;
      background-color: black;
    }

    .burger:focus .burger-line, .burger:hover .burger-line{
        background-color: var(--orange);
    }
    .burger:focus .burger-line:nth-child(2), .burger:hover .burger-line:nth-child(2){
        background-color: var(--orange);
        width: 25px;
    }
    .burger:focus .burger-line:last-child, .burger:hover .burger-line:last-child{
        background-color: var(--orange);
        width: 18px;
    }
    
    .desk-nav-search {
        order: 3;
    }
    .desktop-nav-item {
        margin-top: 5px;
    }

    /* хедер-слайдер */
    .swiper-container>.swiper-button-prev {
        display: none;
    }
    .swiper-container>.swiper-button-next {
        display: none;
    }
    .slide_1 {
        padding-left: 45px;
        background-image: url(/img/mobile-balconies.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slide_2, .slide_3 {
        padding-left: 45px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slider-conten-h1 {
        width: 100%;
        padding-top: 118px;
        line-height: 73px;
    }

    .slider-content-p {
        font-size: 20px;
        width: 80%;
    }

    .header-slider-button {
        margin-top: 75px;
    }

    /* About */

    .about-p {
        width: 100%;
    }

    .about-block-img {
        width: 100%;
    }

    .about-item-block {
        margin-top: 50px;
        width: 100%;
    }
    .how-text {
        width: 58%;;
    }
    .how-left-p {
        padding-right: 48px;
    }
    .adv-1-text, .adv-2-text {
        padding-top: 25px;
   }


    .footer-comment {
        display: none;
    }

    .footer-1column {
        margin-right: 101px;
    }

}

/* Макет на 768 */
 @media (max-width: 1023px) {
     .container {
         width: 668px;
     }
     .img-logo {
         width: 150px;
     }
     .search-ico {
         height: 23px;
         width: 23px;
     }
     
     .header-slider.container {
         width: 768px;
     }
    
     .slide_1 {
        background-image: url(/img/mobile2balc.jpg);
    }

    .slider-conten-h1 {
         font-size: 60px;
         width: 100%;
         padding-top: 80px;
     }
     .slider-content-p {
         width: 100%;
     }
     .header-slider-button {
         margin-top: 110px;
     }


     /* About */
     .about-img-text {
         left: 28px;
         bottom: 26px;
     }
     .about-img-btn {
         right: 30px;
     }
     .about-item-block {
        padding-top: 0px;
    }
     .adv-1, .adv-2 {
        background-size: 104px 140px;
        width: 668px;
        height: 235px;
       }
    .adv-1-text, .adv-2-text {
        padding: 37px 38px 42px 178px;
    }

        /* How */

    .how-steps {
        justify-content: space-between;
    }

     .how-right {
        background: url(/img/Rectangle18.jpg) no-repeat;
        background-size: cover;
        height: 284px;
        width: 668px;
        margin-top: 15px;
        margin-bottom: 38px;
        float: none;
    }

    .how-text {
        width: 100%;
    }
    .how-left-p {
        width: 100%;
    }
 
    /* FAQ */
    .faq-h2 {
        letter-spacing: -2px;
    }
    .accordion_h3 {
        width: 80%;
    }
    .ui-accordion .ui-accordion-header {
        padding-right: 150px 
    }
     .faq-button {
         width: 80%;
     }
     .footer-h2 {
         font-size: 40px;
     }
     .input-e-mail, .input-text, .footer-textarea {
         width: 400px;
     }
     .form-submit {
         display: block;
     }

     /* Footer */

     .footer-container {
         height: 816px;
     }

     .footer {
         display: flex;
         flex-direction: column;
     }
     .footer-nav {
         order: 2;
     }
     .footer-form {
         order: 1;
     }
     .input-text, .input-e-mail, .footer-textarea {
         width: 534px;
     }
     .form-btn {
         width: 241px;
         margin-bottom: 0;
     }
     .form-submit {
         display: flex;
         width: 534px;
     }
     .check {
         padding-left: 0;
     }
     .footer-nav-ul {
         display: none;
     }


 }

 @media (max-width: 770px) {
     body {
         box-sizing: border-box;
     }
    .container {
        width: 290px;
    }
    p {
        font-size: 14px;
        line-height: 28px;
    }
    h2 {
        font-size: 24px;
        line-height: 1;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    h3, .h3 {
        font-size: 18px;
        font-weight: 500;
    }
    .btn {
        border: 2px solid var(--orange);
    }
    /* Хедер */
    .header-menu {
        height: 45px;
        justify-content: space-between;
    }

    .header-logo {
        order: 1;
        margin: 0;
    }
    .img-logo {
        width: 97px;
        height: 31px;
    }
    .header-nav {
        order: 2;
        margin: 0;
    }
    .burger {
        padding: 0;
    }
    .burger-line {
        width: 25px;
    }
    .desk-nav-search {
        display: none;
    }
    .header-slider.container {
        width: 290px;
        height: 262px;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
    }
    .slide_1, .slide_2, .slide_3 {
        padding-left: 0;
    }
    .swiper-container>.swiper-button-prev {
        display: none;
    }
    .swiper-container>.swiper-button-next {
        display: none;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        display: none;
    }

    .slider-conten-h1 {
        text-align: center;
        font-size: 20px;
        line-height: 1;
        padding-top: 32px;
        padding-bottom: 6px;
    }
    .slider-content-p {
        width: 85%;
        padding-left: 24px;
        font-size: 12px;
        line-height: 14.63px;
        font-weight: 500;
    }
    .header-slider-button {
        margin-top: 34px;
        width: 162px;
        font-size: 12px;
        padding: 0;
    }
    /* about */
    .about {
        padding-top: 39px;
        margin-bottom: 39px;
    }
    .about-text>h2 {
        margin-bottom: 0;
        padding: 0;
    }
    .about-block-img {
        background-size: contain;
        height: 200px;
        background-repeat: no-repeat;
        margin-top: -30px;
        padding-bottom: 195px;

    }
    .about-img-text {
        width: 100%;
        left: 0;
        bottom: 45px;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: black;
        padding-top: 500px;
    }
    .about-block-img::after {
        background: none;
    }
    .about-img-btn {
        padding: 0;
        left: 0;
        bottom: 0;
        height: 40px;
        width: 162px;
        color: var(--orange);
        font-size: 12px;
    }
    .about-item-block {
        border: none;

    }
    .adv-1, .adv-2 {
        background-position: 0 0;
        margin: 0;
        width: unset;
        height: unset;
    }
    .adv-1-text, .adv-2-text {
        padding: 0;
        padding-top: 130px;
    }

    /* How */
    .how-we-work {
        padding-bottom: 39px;
    }
    .how-steps>.how-steps-item {
        font-size: 14px;
        margin-right: 0;
    }
    ul.how-steps {
        padding-bottom: 0;
    }
    .how-right {
        background-image: url(/img/Rectangle18.jpg);
        height: 160px;
        width: 290px;
        margin-bottom: 7px;
    }
    .how-left-p {
        padding: 0;
    }
    ul.how-steps {
        padding-top: 0;
    }
    .how-text {
        padding-bottom: 22px;
    }
    .how-orange-btn {
        width: 162px;
        height: 40px;
        margin-right: 5px;
        padding: 0;
    }
    .how-transparent-btn {
        padding: 0;
        width: 118px;
        height: 40px;
    }
    .orange-btn-link, .transparent-btn-link {
        position: relative;
        font-size: 12px;
    }

    /* faq */

    .faq-h2 {
        letter-spacing: 0;
        line-height: 30px;
    }
    .ui-widget {
        font-size: 14px;
    }
    .ui-accordion .ui-accordion-header {
        padding-right: 54px;
    }
   .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        font-weight: 500;
    }
    .ui-icon, .ui-widget-content .ui-icon {
        height: 30px;
        width: 30px;
        background-size: 18px 18px;
        top: 35%;
    }

    .ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
        height: 30px;
        width: 30px;
        background-size: 18px 18px;
        top: 35%;
    }

    .h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }
    .faq-item {
        padding: 20px 0;
    }
    .faq-item::before {
        height: 30px;
        width: 30px;
        background-size: 18px 18px;
        top: 35%;
    }

    .faq-button {
        width: 87%;
    }

    /* Footer */
    .footer-container {
        height: unset;
        padding-bottom: 25px;
    }

    .footer-form {
        margin-right: 0;
        margin-top: 39px;
    }
    .footer-h2 {
        font-size: 24px;
        margin: 0;
        line-height: 1;
    }
    .input-text, .input-e-mail, .footer-textarea {
        width: 290px;
    }
    .form-submit {
        flex-direction: column;
        width: unset;
    }
    .form-btn {
        width: 180px;
        height: 40px;
        align-self: center;
        margin: 0;
        font-size: 12px;
    }
    .check {
        padding-left: 20px;
    }
    .option {
        margin-bottom: 20px;
    }
    .footer-1column {
        margin: unset;
    }
    .img-footer-logo {
        height: 42px;
        width: 131px;
    }
    .footer-social>a {
        background-size: 34.4px 34.4px;
        margin: 0;
    }
    .footer-social>a:not(:last-child) {
        padding-right: 14px;
    }
    .footer-fb, .footer-vk, .footer-inst {
        height: 35px;
        width: 35px;
        padding: 0;
    }
    .check {
        line-height: 1;
    }
    .check__box {
        margin-top: 0;
    }
    .check__input {
        background-color: transparent;
    }
    .footer-nav {
        border-top: 1px solid #595959;
        padding-top: 20px;
    }
    .footer-1column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }




 }

*:focus-visible {
    outline: 1px solid grey;
}
/* *:-moz-focusring {
    outline: 1px solid grey;
} */